.footer-flexbox-bottom{
    margin-top:auto;
    padding:0 60px;
    line-height:29px;
    font-size: 16px;
}
.footer-socials{
    color:#bfbfbf;
}
.footer-socials a{
  color:#afafaf;
}
.flexbox-address-phone,
.flexbox-footer-hours,
.flexbox-footer-copyright{
    display:flex;
}
@media (max-width:510px){
    .footer-pipe,
    .footer-hours-space,
    .footer-copyright-space{
        display:none;
    }
    .flexbox-address-phone,
    .flexbox-footer-hours{
        flex-direction: column;
    }
}
@media (max-width:640px){
    footer{
        text-align: center;
        margin:0 auto;
    }
    .flexbox-address-phone,
    .flexbox-footer-hours,
    .flexbox-footer-copyright{
        justify-content: center;
    }
    .footer-flexbox-bottom{
        padding: 0 24px;
    }
}
@media (max-width:575px){
    .flexbox-footer-copyright{
        flex-direction: column;
    }
    .footer-copyright-space{
        display:none;
    }
}