.logo,.tablet-logo{
  font-family: FuturaLight;
  font-size:68px;
  font-weight:100;
  color:#FBFBFB;
  padding-right:60px;
}
.logo a,.tablet-logo a{
  color:#fbfbfb;
}
.logo a:hover,.tablet-logo a:hover{
  cursor:default;
}
.navbar-socials a,
.tablet-socials a{
  color:#afafaf;
}
.hamburger-menu-icon{
    position:absolute;
    top:10px;
    left:10px;
    cursor:pointer;
}
@media (max-width:900px){
    .navbar-socials{
        display:none;
    }
    .logo{
        display:none;
    }
    .navbar-menu{
        margin:0 auto;
    }
    .navbar{
        display:flex;
        flex-direction: column;
    }
    .navbar-tablet{
        display:flex !important;
    }
    .nav-ul{
        margin-bottom:20px;
    }
}
@media (max-width:630px){
    .tablet-socials{
        display:none;
    }
    .navbar-menu{
        display:none;
    }
    .tablet-logo{
        padding-right:0;
        margin:0 auto;
    }
    .hamburger-menu-icon{
        display:block !important;
    }
}