.logo,.tablet-logo{
  font-family: FuturaLight;
  font-size:68px;
  font-weight:100;
  color:#FBFBFB;
  padding-right:60px;
}
.logo a,.tablet-logo a{
  color:#fbfbfb;
}
.logo a:hover,.tablet-logo a:hover{
  cursor:default;
}
.navbar{
  padding-top:22px;
  padding-left:60px;
  padding-right:60px;
  display:flex;
  align-items: center;
}

.navbar-menu{
  font-family: FuturaLight;
  font-size:16px;
  letter-spacing:1px;
}
.navbar-socials a,
.tablet-socials a{
  color:#afafaf;
}
.hamburger-menu-icon{
    position:absolute;
    top:10px;
    left:10px;
    cursor:pointer;
    font-size:25px;
    display:none;
}
.close-mobile-menu{
    position:absolute;
    top:10px;
    left:10px;
    font-size:25px;
    cursor:pointer;
}
.navbar-mobile ul{
    overflow:hidden;
}
.navbar-mobile li{
    width:100%;
    text-align: center;
    font-family: FuturaLight;
    height:50px;
    font-weight: 100;
    font-size:17px;
    letter-spacing: 1.6px;
    display:grid;
    color:#ddd;
    place-content: center;
    border-bottom:1px solid #5c5c5c44;
    display:none;
    overflow:hidden;
}
.mobile-menu-dropdown{
    background:black;
    border-bottom:1px solid #444 !important;
}
.mobile-menu-ul{
    height:0;
}
.navbar-mobile span{
    cursor:pointer;
}
.navbar-mobile-icons{
    display:none;
}





@media (max-width:900px){
    .navbar-socials{
        display:none;
    }
    .logo{
        display:none;
    }
    .navbar-menu{
        margin:0 auto;
        width:100%;
    }
    .navbar{
        display:flex;
        flex-direction: column;
    }
    .navbar-tablet{
        display:flex !important;
        width:100% !important;
    }
    .nav-ul{
        margin-bottom:20px;
        width:100%;
        justify-content: space-between;
    }
}

@media (max-width:630px){
    .tablet-socials{
        display:none;
    }
    .navbar{
        padding-top:5px;
    }
    .navbar-menu{
        display:none;
    }
    .tablet-logo{
        padding-right:0;
        margin:0 auto;
        cursor:pointer;
    }
    .hamburger-menu-icon,
    .navbar-mobile-icons{
        display:block;
    }
    .navbar-mobile li{
        display:block;
    }
}