.opentable{
  text-align: center;
  display:grid;
  place-content: center;
  background:#13131388;
  width:300px;
  height:200px;
}
.opentable .line1{
    color:#bfbfbf;
    font-size: 20px;
    letter-spacing: 2.5px;
}
.opentable .line2{
    font-size: 10px;
    letter-spacing: 2px;
    margin-top:10px;
    margin-bottom: 20px;
    color:#bfbfbf;
}
.opentable .line3 span{
    background:#0b0b0b;
    padding:10px 20px;
    font-size: 12px;
    font-family: serif;
    letter-spacing: 2px;
    cursor:pointer;
}
.opentable a{
    color:white !important;
}