#qr-footer-content{
    width:8.5in;
    /* background:blue; */
    margin: 0 auto;
    /* font-family: FuturaLight; */
    display: flex;
    justify-content: space-around;
}
@media (max-width:8.5in){
    #qr-footer-content{
        width:100%;
    }
}
@media (max-width:500px){
    #qr-footer-content{
        flex-direction: column;
    }
}