.manager-navbar li{
    border-bottom: 5px solid transparent;
}
.manager-navbar a{
    color:black;
    color:#888;
}
.current-page a{
    font-weight: 900;
    color:black;
}

@media (max-width: 350px){
    .manager-navbar{
        font-size:14px;
    }
}