.auth-wrapper{
    width:100%;
    min-height:100vh;
    min-height:100svh;
    display:grid;
    place-content: center;
}
.auth-wrapper form{
    background:#ccc;
    padding:20px;
    border-radius: 10px;
}
.auth-wrapper h2{
    text-align: center;
}
.auth-wrapper button{
    background:blue;
    color:white;
    display: block;
    margin:0 auto;
    padding:10px;
    cursor:pointer;
    border-radius: 10px;
    font-size: 17px;
    border: none;
}
.auth-wrapper a{
    color:blue;
}
.auth-wrapper input{
    width:250px;
}
.auth-wrapper div{
    width:100%;
    text-align: center;
}