.dessert-menu-format-front{
    width:5.5in;
    height:8.45in;
    border:1px solid black;
    background:white;
    display:flex;
    flex-direction: column;
    padding:8mm;
    padding-top:10px;
    font-size:15px;
}
.dessert-drinks-default-font-print{
    font-family: MinionProRegular;
    font-size:calc(0.9 * 11.5pt);
}
.dessert-menu-front-content{
    padding-left: 20px;
    /* padding-right: 83px; */
}
.dessert-name-print{
    font-family: FuturaMedium;
    font-size:calc(0.95 * 11.5pt);
    /* font-weight:600; */
}
.dessert-allergies-print{
    font-family: MinionProBold;
    font-size: calc(0.95 * 11.5pt);
    font-style: italic;
    font-weight: 900;
}
.dessert-description-print{
    font-family:MinionProRegular;
    font-size: calc(0.95 * 11.5pt);
}
.dessert-price-print{
    font-size:calc(0.95 * 11.5pt);
    font-family:MinionProBold;
    font-weight:600;
    /* font-style: italic; */
}
.dessert-footer-print{
    margin-top:auto;
    font-family: MinionProBold;
    font-weight: 700;
    font-size:calc(0.95 * 10pt);
    text-align: left;
}
.dessert-menu-heading-print{
    /* color:blue; */
    font-size:calc(0.95 * 12pt);
    font-family: FuturaBold;
    /* font-weight:900; */
    /* color:red; */
}
.dessert-drink-name-print{
    /* color:blue; */
    font-family:MinionProBold;
    font-weight:700;
    font-size: calc(0.95 * 11.5pt);
}
