#dessert-menu-format-front{
    width:5.5in;
    height:8.5in;
    border:1px solid black;
    background:beige;
    display:flex;
    flex-direction: column;
    padding:8mm;
}
.dessert-name{
    font-family: sans-serif;
    font-size:16px;
    font-weight:600;
}
.dessert-allergies{
    font-family: serif;
    font-style: italic;
}
.dessert-description{
    font-family:serif;
}
.dessert-price{
    font-family:serif;
    font-weight:600;
    font-style: italic;
}
footer{
    margin-top:auto;
    font-family: serif;
    font-weight: 700;
}