#dessert-menu-format-front{
    width:5.5in;
    height:8.5in;
    border:1px solid black;
    background:beige;
    display:flex;
    flex-direction: column;
    padding:8mm;
    padding-top:10px;
    font-size:15px;
}
.dessert-menu-front-content{
    padding-left: 20px;
    padding-right: 83px;
}
.dessert-name{
    font-family: FuturaLight;
    font-size:15px;
    font-weight:600;
}
.dessert-allergies{
    font-family: serif;
    font-style: italic;
}
.dessert-description{
    font-family:serif;
    font-size: 15px;
}
.dessert-price{
    font-family:serif;
    font-weight:600;
    font-style: italic;
}
.dessert-footer{
    margin-top:auto;
    font-family: serif;
    font-weight: 700;
    font-size:12px;
    text-align: left;
}
.dessert{
    /* margin-bottom:6px; */
}
.coffee-tea-heading{
    /* color:blue; */
    font-family: FuturaExtraBold;
}
.coffee-tea-heading-italics{
    font-family:serif;
    font-style: italic;
}
.tea-name{
    font-family: serif;
}