@font-face {
    font-family: FuturaLight;
    src: url(./assets/fonts/FuturaLight.otf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.manager-page-wrapper .logo{
  font-size:68px;
  font-weight:100;
  color:black;
  cursor:pointer;
}
.manager-page-wrapper{
  font-family: FuturaLight;
}

.main-menu li{
  background:lightgrey;
  width:150px;
  /* margin:auto; */
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* max-height: 50px;   */
  /* margin:auto 0; */
  border-radius: 10px;
  padding:5px 0px;
}
#main-menu a{
  color:black;
  /* padding:auto 0; */
}
.current-page{
  border-bottom:4px solid grey !important;
}
.special{
  font-family: serif;
  /* border:1px solid black; */
  font-size: 15px;
  margin-bottom: 0px;
}
.name{
    /* color:blue; */
    font-family: FuturaLight;
    font-weight: 900;
    font-size: 14px;
}
.allergies-abbreviated{
  font-style: italic;
  font-size: 14px;
}
.allergies-complete{
  color:red;
  font-size:14px;
}
.price{
  font-weight: 900;
}
.specials-h1,
.desserts-h1{
  font-size: 21px;
  font-family: FuturaExtraBold;
  font-weight: 100;
}
.specials-h2{
  margin-top: 0px;
  padding-bottom:10px;
  font-size: 15px;
  font-family: FuturaExtraBold;
  font-weight: 900;
}
.btn{
  border-radius: 10px;
  font-family: sans-serif;
  cursor:pointer;
  font-size: 10px;
  padding:5px 10px;
  border: 1px solid black;
  margin-right:5px;
}
.delete-btn{
  background:red;
  color:white;
}
.archive-btn, 
.unarchive-btn{
  background:yellow;
}
.edit-btn{
  background:blue;
  color: white;
}
