.paper-menu h2{
    font-family: FuturaRoundBold;
    font-size: 21.4px;
}
h2 span{
    font-family: serif;
    font-size: 15.6px;
    padding-left:5px;
}
.paper-menu .name{
    /* color:blue; */
    font-family: FuturaLight !important;
    font-size: 15.5px !important;
    font-weight: 900;
}
.paper-menu .allergies-abbreviated{
    font-family: serif !important;
    /* font-weight: 900; */
    font-size: 14.5px !important;
    font-style: italic !important;
}
.paper-menu .description{
    font-family:serif !important;
    font-size:16.6px !important;
}
.paper-menu .post-description{
    /* color:blue; */
    font-style: italic;
    font-family: serif !important;
    font-weight: 900;
    font-size: 15.8px;
}
.paper-menu .chef-name{
    /* color:transparent; */
    font-size: 17px;
    font-family: FuturaLight;
}
.paper-menu .allergy-explanations{
    /* color:blue; */
    font-style: italic;
    font-size: 17px;

}