.main-menu{
    width:auto;
    padding-bottom:0;
}
@font-face {
    font-family: "MidcenturySansBold";
    src: url(./assets/fonts/MidcentruySansBold.otf);
}
.name{
    font-family: "MidcenturySansBold" !important;
}
@media screen and (max-width:850px){
    .main-menu{
        zoom:75%;
    }
}
@media print{
    .specials-print-wrapper{
        maxHeight:8.5in !important;
    }
}