.main-menu{
    width:auto;
    padding-bottom:0;
}

.name-specials{
    font-family: "FuturaHeavy" !important;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.05px;
    /* color:green !important; */
}
.specials-legal{
    /* color:blue; */
    font-style: italic;
    font-size:10px;
    font-family: MinionProBold;
}
@media screen and (max-width:850px){
    .main-menu{
        zoom:75%;
    }
}
@media print{
    .specials-print-wrapper{
        maxHeight:8.5in !important;
    }
}
.no-print-border{
    /* display:none; */
}