.specials-h2{
    padding: 0;
}
#specials-double-sided-flexbox{
    display:flex;
    gap:20px;
}
.main-menu{
    width:100%;
    padding-bottom: 50px;
}

@media (max-width:850px){
    #specials-double-sided-flexbox{
        flex-direction: column;
    }
}

@media (max-width:4.25in){
    #specials-double-sided-flexbox{
        zoom:0.7;
    }
}

@media (max-width:410px){
    .main-menu{
        width:100%;
        /* background:yellow; */
        /* padding-bottom:0px !important; */
    }
}