.specials-h2{
    padding: 0;
}
#specials-double-sided-flexbox{
    display:flex;
    gap:20px;
}


@media (max-width:850px){
    #specials-double-sided-flexbox{
        flex-direction: column;
    }
}

@media (max-width:4.25in){
    #specials-double-sided-flexbox{
        transform: scale(0.75);
        background:pink;
    }
}

@media (max-width:410px){
    .main-menu{
        width:100%;
        /* background:yellow; */
    }
}