.main-menu{
    width:auto;
    padding-bottom:0;
}

.name-specials{
    font-family: "FuturaHeavy" !important;
    font-size: 15px;
    letter-spacing: 0.3px;
    /* color:green !important; */
}
@media screen and (max-width:850px){
    .main-menu{
        zoom:75%;
    }
}
@media print{
    .specials-print-wrapper{
        maxHeight:8.5in !important;
    }
}