.grapes,
.vintage,
.description,
.half-bottle,
.price{
    font-family: FuturaLight;
    font-weight:100;
    font-size: 13.5px;
}
.winelist-h1{
    font-family: FuturaRoundBold;
    font-size: 27px;
    /* color:red; */
}
.winelist-h2{
    font-family: FuturaRoundBold;
    font-size: 16px;
    /* color:red; */
}
.name{
    /* color:red; */
    font-family: FuturaRoundBold;
    font-size:13.5px;
}
.grapes{
    /* color:blue; */
    font-size: 13.5px;
}
.winelist-format{
    width:14in;
    height:8.5in;
    background: white;
    border: 1px solid black;
    position: relative;
    overflow:hidden;
}

@media (max-width:1350px){
    .winelist-format{
        zoom:0.75 !important;
    }
}

@media (max-width:1015px){
    .winelist-format{
        zoom:0.5 !important;
    }
}

@media (max-width:505px){
    .winelist-format{
        zoom:0.40 !important;
    }
}

@media (max-width:405px){
    .winelist-format{
        zoom:0.30 !important;
    }
}



