.free-parking-flexbox{
    display:flex;
    width:100%;
    gap:60px;
    /* background:red; */
    justify-content: space-between;
}
@media(max-width:780px){
    .free-parking-flexbox{
        flex-direction: column;
    }
    .opentable{
        margin:0 auto;
        max-width: 100%;
    }

}