@font-face{
  font-family: 'FuturaLight';
  src: url(./assets/fonts/FuturaLight.otf)
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.page-wrapper{
  width:100%;
  min-height:100vh;
  min-height:100svh;
}
.webpage{
  background:#262626;
  color:white;
}
.webpage-wrapper{
  max-width: 1060px;
  margin:0 auto;
}
.navbar{
  padding-top:22px;
  padding-left:60px;
  padding-right:60px;
  display:flex;
  align-items: center;
}

.navbar-menu{
  font-family: FuturaLight;
  font-size:16px;
  letter-spacing:1px;
}
ul{
  list-style-type: none;
}
.nav-ul{
  display:flex;
  gap:19px;
}
.nav-info>li,.menus-dropdown>li{
  padding:5px 10px;
}
.navbar-menu a{
  color:white;
}
.navbar-menu li:hover,
.navbar-menu a:hover{
  color:#b3b3b3 !important;
  cursor:pointer;
}
.navbar-socials,
.tablet-socials,
.footer-socials{
  margin-left:auto;
  font-size:22px;
  color:#BFBFBF;
}

.webpage a:hover{
  color:white;
}
.webpage hr{
  border:none;
  border-top:1px solid #5c5c5c;
}
a{
  text-decoration:none;
}
.webpage main{
  max-width:940px;
  margin:0 auto;
  margin-top:43px;
}
.webpage footer{
  font-family: FuturaLight;
}

