@font-face{
  font-family: 'FuturaLight';
  src: url(./assets/fonts/FuturaLight.otf)
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.page-wrapper{
  width:100%;
  min-height:100vh;
  min-height:100svh;
}
.webpage{
  background:#262626;
  color:white;
}
.webpage-wrapper{
  max-width: 1060px;
  /* border:1px solid white; */
  margin:0 auto;
}
.navbar{
  padding-top:22px;
  padding-left:60px;
  padding-right:60px;
  display:flex;
  align-items: center;
  /* justify-content: space-between; */
}
.logo{
  font-family: FuturaLight;
  font-size:68px;
  font-weight:100;
  color:#FBFBFB;
  padding-right:60px;
}
.logo a{
  color:#fbfbfb;
}
.logo a:hover{
  cursor:default;
}
.navbar-menu ul{
  font-family: FuturaLight;
  width:500px;
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  font-size:16px;
  letter-spacing:1px;
}
.navbar-menu a{
  color:white;
}
.navbar-menu li:hover,
.navbar-menu a:hover{
  color:#b3b3b3 !important;
  cursor:pointer;
}
.navbar-socials{
  margin-left:auto;
  font-size:22px;
  padding:10px;
  color:#BFBFBF;
}
.navbar-socials a{
  color:#afafaf;
}
.webpage a:hover{
  color:white;
}
.webpage hr{
  border:none;
  border-top:1px solid #5c5c5c;
}
a{
  text-decoration:none;
}
