.info-flexbox{
    display:flex;
    gap:60px;
}
.info-right iframe{
    margin-bottom: 60px;
    filter: grayscale(100%);
}
@media(max-width:780px){
    .info-flexbox{
        flex-direction: column;
    }
    .map-wrapper{
        width:100%;
        text-align: center;
    }
}