.job-flexbox,
.name-flexbox,
.address-flexbox,
.phone-email-flexbox,
.position-availability-flexbox,
.start-date-salary-flexbox,
.high-school-city-flexbox,
.college-city-flexbox{
    display:flex;
    gap:20px;
}
.high-school,
.college{
    display:flex;
    gap:5px;
}
#submit-application{
    color:black;
    font-size:25px;
    padding:10px 15px;
    border-radius: 10px;
    border:none;
    cursor:pointer;
}
#submit-application:hover{
    background:darkgrey;
    color:white;
}
.jobs-main {
    line-height: 20px !important;
}
.jobs-main br{
    line-height:0px;
}
.jobs-main .maxwidth{
    max-width:500px;
}
.jobs-main textarea{
    width:min(300px, 80vw)
}
.jobs-box{
    border:1px solid white;
    padding:3px;
}
@media (max-width:350px){
    .job-flexbox,
    .address-flexbox,
    .phone-email-flexbox,
    .position-availability-flexbox,
    .start-date-salary-flexbox,
    .high-school-city-flexbox{
        flex-direction: column;
        gap:10px;
    }
}