.name{
    font-size: 19px;
    /* color:red; */
}
.allergies-abbreviated{
    font-family: FuturaLight;
    font-style: normal;
}
.post-description{
    font-family: FuturaLight !important;
    /* font-style: italic; */
    /* color:red; */
}
.description, .allergies-abbreviated{
    font-size: 17.5px;
}
main, .bold{
    color: #C0BEBF !important;
    /* color:red !important; */
}
.webpage h2{
    font-family: FuturaRoundBold;
    font-size: 18.75px;
    /* color:blue; */
}
.webpage p{
    font-size: 17.5px;
}

@media(max-width:860px){
    .dinner-flexbox{
        flex-direction: column;
    }
    .dinner-right{
        width:100%;
        text-align: center;
    }
    .opentable{
        margin:0 auto;
    }
}