

.special{
    margin-bottom: 20px;
}
.event-menu-legal{
    padding:40px;
    width:8.5in;
    border:1px solid black;
}
@media (max-width:8.5in){
    .event-menu-legal{
        width:100%;
    }
}
#chef-flexbox{
    display:flex;
    justify-content:space-between;
}
@media (max-width:420px){
    #chef-flexbox{
        flex-direction: column;
    }
}
@media (max-width:470px){
    .event-menu-legal{
        padding:10px;
    }
    h2 span{
        /* color:blue; */
        font-size: 13px !important;
    }
}