@media(max-width:860px){
    .dinner-flexbox{
        flex-direction: column;
    }
    .dinner-right{
        width:100%;
        text-align: center;
    }
    .opentable{
        margin:0 auto;
    }
}