@font-face{
  font-family: 'FuturaMedium';
  src: url(./assets/fonts/FuturaMedium.otf)
}
.newsletter-flexbox{
    display:flex;
    width:100%;
    gap:60px;
}
.newsletter-left{
    flex-grow:1;
}
.newsletter-left form{
    /* height:500px; */
    background:white;
    padding:20px;
}
.newsletter-left input{
    height:40px;
    border:1px solid lightgrey;
    font-size: 16px;
    font-family: FuturaLight;
    padding:5px;
}
.newsletter-left button{
    background:#999;
    color:white;
    font-family: FuturaMedium;
    font-weight: 900;
    font-size: 17px;
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
}
.newsletter-left .input-wrapper{
    position:relative;
    margin-bottom:13px;
}
.newsletter-left .input-required{
    position:absolute;
    top:0;
    right:5px;
    color:red;
}
@media(max-width:775px){
    .newsletter-flexbox{
        flex-direction: column;
    }
}