@font-face{
  font-family: 'FuturaMedium';
  src: url(./assets/fonts/FuturaMedium.otf)
}
.newsletter-flexbox{
    display:flex;
    width:100%;
    gap:60px;
}
.newsletter-left{
    flex-grow:1;
}
.newsletter-left form{
    height:500px;
    background:white;
    padding:20px;
}
.newsletter-left input{
    height:50px;
    margin-bottom:16px;
}
.newsletter-left button{
    background:#999;
    color:white;
    font-family: FuturaMedium;
    font-weight: 900;
    font-size: 17px;
    padding:10px 20px;
    border:none;
    border-radius: 10px;
}
@media(max-width:750px){
    .newsletter-flexbox{
        flex-direction: column;
    }
}